body {
    font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    background: #FFFFFF;
    color: #434455;
}
.img-team {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;

}

.header-div {
display: flex;;
}
.container {
width: 1158px;
margin: 0 auto;
padding: 0 15px;
}

.nav-header {
    display: flex;
align-items: center;

}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}
.logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    
    font-weight: 700;
    font-size: 18px;

    /* line-height: 21px; */
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo:hover, .logo:active, .logo:focus {
    color: #4d5ae5;
}
.lostud {
    color: #2e2f42;
}
.lostud:hover, .lostud:active, .lostud:focus {
    color: #4d5ae5;
}
.nav {
    display: flex;
    gap: 40px;

}
.nav .link {
    padding: 24px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    color: #2e2f42;
}
 .nav .link:hover, .link:active, .nav .link:focus {
    color: #404bbf;
}
.address {
    display: flex;
    gap: 40px;
    font-style: normal;
}
.address-ullist {
    display: flex;
    gap: 40px;
}
.address .contact-info {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    
}
.address .contact-info:hover, .address .contact-info:active, .address .contact-info:focus {
    color: #404bbf;
}
.for-your-business {
    padding: 188px 0;
    background-color: #2e2f42;
}

.h-one-business {
    max-width: 496px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}
.button {
    display: block;
    margin: center;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:#4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
}
.button:hover, .button:active, .button:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.invisiblesection {
    
    padding: 120px 0;
    padding-bottom: 120px;

}
.hstr {
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 8px;

}
.strategy {
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: center;
}
.our-team {
    padding-top: 120px;
    padding: 120px 0;
    background-color: #F4F4FD;
}
.listr-srategy {
width: calc((100% - 48px) / 3);
}
.name-strategy {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
    

}
.list-our-team {
    display: flex;
    gap: 24px;

}
.list-strategy {
    display: flex;
    gap: 24px;

}
.invi {
    margin-bottom: 8px;

        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;

}
.listr {
width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
}
.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}
.foter-lostud {
    color: #f4f4fd;
}
.foor-strategy {
    max-width: 264px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.name-team {
    padding: 32px 0;
    border: 1px solid #e7e9fc;
    border-top: none;



}
.list-our-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.listr-our {
    width: calc((100% - 48px) / 3);
    border-radius: 0px 0px 4px 4px;
    
        background-color: #FFFFFF;
}
.name-team {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;

}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;

}
.logo-footer:hover,
.logo-footer:active,
.logo-footer:focus {
    color: #4d5ae5;
}
